.header-wrapper {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 3px;
    align-items: center;
}

.logo {
    background-color: transparent;
    border-color: transparent;
    color: rgb(101, 181, 255);
    font-size: 34px;
    height: 40px;
    font-weight: bolder;

}
.logo:hover {
    color: rgb(76, 234, 255);
}

.sign-out {
    height: 30px;
    width: 130px;
    font-size: 20px;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
}
.sign-out:hover {
    color: red;
}