.signin-page {
    align-self: center;
    height: 500px;
    margin: 15%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin-title{
    margin-bottom: 80px;
    font-size: 100px;
    align-self: center;
    color: rgb(101, 181, 255);;

}

.btn-group {
    margin-top: 560px;
    
}

.input-box {
    width: 325px;
    height: 40px;
    font-size: 25px;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.btns-box {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: 15px
}

.signin-btn {
    width: 200px;
    height: 45px;;
    font-size: 24px;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    background-color: rgb(101, 181, 255);
    color: white;
}

.signup-btn {
    margin-top: 8px;
    background: transparent;
    border-color: transparent;
    font-size: 15px;
    font-weight: bold;
}
.signup-btn:hover {
    color: rgb(101, 181, 255);
}