.wrapper {
    size: 100%;
    justify-content: center;
    display: flex;
}
.content-box {
    align-self: center;
    width: 900px;
    left: 0;
    right: ;
    margin: 0 auto;
    justify-content: center;
    display: table-column;
    padding: 5%;
    padding-top: 15%;
    padding-left: 15%;
    padding-right: 15%;
    /* margin-left: 10vh; */
    
}

.todo-title {
    font-size: 55px;
    margin-bottom: 100px;
}
.new-todo-wrapper {
    max-width: 700px;
    margin-bottom: 50px;
    align-items: center;
    display: flex;
}
.new-todo-input {
    width: 400px;
    height: 40px;
    border-radius: 8px;
    font-size: 20px;
    padding-left: 10px;
}
.new-todo-btn {
    height: 44px;
    border-radius: 8px;
    margin-left: 5px;
    width: 180px;
    font-size: 22px;
    background-color: rgb(101, 181, 225);
    color: white;
}
.new-todo-btn:hover {
    background-color: rgb(76, 234, 255);
}

.todo-list {
    display: flex;
    margin-left: 20px;
    margin-bottom: 15px;
    font-size: 25px;
    width: 1300px;
    align-items: center;
    justify-content: left;
}

.todo-maker {
    height: 50px;
    width: 300px;
    border-radius: 10px;
    background-color: rgb(101, 181, 255);
    color: white;
    font-size: 20px;
}

.input-checkbox {
    margin-right: 10px;
    height: 20px;
    width: 20px;
    border-radius: 5px;
}

.todo-todo {
    margin-right: 10px;
    width: 650px;
    overflow-x: auto; /* 수평 스크롤바를 활성화합니다. */
    white-space: nowrap;
    animation: scrollText 10s linear infinite; /* scrollText 애니메이션을 적용합니다. */
  }
  
  /* 스크롤바 숨기기 */
  .todo-todo::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  

.edit-del-btns-group {
    display: flex;
    justify-content: center;
}

.edit-del-btns {
    margin-left: 10px;
    height: 40px;
    width: 60px;
    font-size: 17px;
    background-color: rgb(101, 181, 225);
    color: white;
    border-radius: 8px;
}
.edit-del-btns:hover {
    background-color: rgb(76, 234, 255);
}

.todo-input {
    width: 300px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    padding: 4px;
}

.add-btn {
    height: 50px;
    width: 100px;
    border-radius: 10px;
    font-size: 20px;
}

.todo-box {
    width: 500px;
    height: 10px;
    font-size: 40px;
}
.ed-btn-group {
    margin-left: 30px;
}


.edit-delete-btn {
    height: 30px;
    border-radius: 8px;
    width: 60px;
    background-color: rgb(101, 181, 255);
    color: white;
}



