.logs-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
}

.logs-page {
    background-color: aquamarine;
    width: 90%;
    
}

.log-cards {
    background-color: aqua;
}